.header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.headline {
  display: flex;
  align-items: center;
  margin-left: 10px;

  .icon {
    height: 40px;

    @media screen and (max-width: 530px) {
      display: none;
    }
  }

  h1 {
    margin: 9px;
    margin-left: 10px;
    font-family: 'Merriweather', serif;
    // color: white;

    @media screen and (max-width: 530px) {
      margin-left: 0px;
      font-size: 17px;
      line-height: 19px;
    }
  }
}

.mat-button-toggle-group {
  min-width: 152px;
  margin-right: 10px;
}

::ng-deep .mat-button-toggle-label-content {
  line-height: 36px !important;
  padding: 0 16px !important;
  font-family: 'Merriweather', serif !important;
}

.mat-tab-nav-bar {
  position: sticky;
  top: 0px;
  background: white;
  z-index: 100;
}

::ng-deep .mat-tab-link {
  font-family: 'Noto Serif', serif !important;
}
