<div class="wrapper">
  <h2>{{ 'HOME.WELCOM' | translate }}</h2>
  <p>
    Фотография – это особый вид искусства, относительно новый, не имеющий
    многовековых традиций в творчестве.
  </p>

  <p>
    С сожалением приходится констатировать, что исследования в области истории
    фотографии значительно отстают от развития художественных жанров самого
    творчества. Откровенно говоря, признание фотографии видом искусства и вовсе
    далеко не безусловно.
  </p>

  <p>
    Да, конечно, периодически почитатели и поклонники собираются на
    фотовыставки, изучают представленные мэтрами работы, обсуждают их, ведут
    дискуссии. И все же, в отличие от той же живописи, фотография не имеет столь
    широкой сети музеев, а также почитателей-коллекционеров. Почему?
  </p>

  <p>
    По многим причинам. Первая заключается в технических особенностях светописи.
    Долгое время фотооригиналы были весьма недолговечны. Это уменьшало не только
    век самого изображения, но и его ценность. Второй причиной является
    относительная простота, с которой создаются фотографии.
  </p>
  <p>
    Чтобы преодолеть сложившиеся стереотипы многие мастера потратили годы
    работы. Некоторым из них удалось создать шедевры, заслуживающие внимания
    взыскательных искусствоведов.
  </p>

  <p>
    На сегодняшний день, фотографию по праву можно назвать одним из самых
    динамично развивающихся видов искусства.
  </p>
</div>
<app-photographer-item [author]="author"></app-photographer-item>
