.main__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main__desc-wrapper {
  width: 75%;
  font-family: 'Noto Serif';
  background-color: rgba(250, 250, 250, 1);
}

.main__header-image {
  text-align: left;
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.main__promo {
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
  text-align: justify;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 22px;
}

.main__title {
  text-align: right;
  margin-bottom: 35px;
  border-bottom: 2px solid rgb(63, 81, 181);

  p {
    display: inline;
    font-size: 16px;
    font-style: italic;
  }
}

.main__author {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    padding: 0 10px;
    padding-bottom: 5px;
    margin-bottom: -10px;
    border-bottom: 2px solid rgb(63, 81, 181);
  }
}

@media (max-width: 1345px) {
  .main__desc-wrapper {
    margin: 0 auto;
  }
}
