<div class="main__wrapper">
  <div class="main__desc-wrapper">
    <img
      class="main__header-image"
      src="http://belarusfacts.by/upload/photos/photo_dostoprimechatelnosty/strusta_lake___panorama.jpg"
      alt=""
    />
    <div class="main__promo">
      <div class="main__title">
        <h2>«Вы не фотографируете, вы создаете»</h2>
        <p>Ансель Адамс</p>
      </div>
      <p>
        Фотография – это особый вид искусства, относительно новый, не имеющий
        многовековых традиций в творчестве.
      </p>

      <p>
        С сожалением приходится констатировать, что исследования в области
        истории фотографии значительно отстают от развития художественных жанров
        самого творчества. Откровенно говоря, признание фотографии видом
        искусства и вовсе далеко не безусловно. В отличие от той же живописи,
        фотография не имеет столь широкой сети музеев, а также
        почитателей-коллекционеров. Почему?
      </p>

      <p>
        По многим причинам. Первая заключается в технических особенностях
        светописи. Долгое время фотооригиналы были весьма недолговечны. Это
        уменьшало не только век самого изображения, но и его ценность. Второй
        причиной является относительная простота, с которой создаются
        фотографии.
      </p>
      <p>
        Чтобы преодолеть сложившиеся стереотипы многие мастера потратили годы
        работы. Некоторым из них удалось создать шедевры, заслуживающие внимания
        взыскательных искусствоведов.
      </p>
      <p>
        История беларуской фотографии начинается в середине XIX века. За это
        непродожительное время появилось немало талантливых фотографоф, было
        организовано множество фотовыставок, как на территории Беларуси, так и
        по всему миру.
      </p>
      <p>
        Данный проект создавадавался, чтобы познакомить всех желающих с самыми
        яркими мастерами этого искусства, рассказать об их жизненном пути и
        продемонстривать их работы.
      </p>
    </div>
  </div>
  <div class="main__author">
    <h2>Фотограф дня</h2>
    <app-photographer-item [author]="author"></app-photographer-item>
  </div>
</div>
