<div class="about-page-container">
  <div class="buttons">
    <a
      mat-button
      [routerLink]="['/about']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ 'interface.about.team' | translate }}
    </a>
    <a
      mat-button
      [routerLink]="['/about', 'worklog']"
      routerLinkActive="active"
      [routerLinkActiveOptions]=""
    >
      {{ 'interface.about.worklog' | translate }}
    </a>
    <a
      mat-button
      [routerLink]="['/about', 'styleguide']"
      routerLinkActive="active"
    >
      {{ 'interface.about.styleguide' | translate }}
    </a>
  </div>

  <router-outlet></router-outlet>
</div>
