<div class="header">
  <div class=" headline">
    <img class="icon" [src]="iconUrl" alt="Culture Portal" />
    <h1>{{ 'interface.main.title' | translate }}</h1>
  </div>
</div>

<div class="navigation-container">
  <nav mat-tab-nav-bar>
    <a
      mat-tab-link
      *ngFor="let link of navLinks"
      [routerLink]="link.path"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
      >{{ link.label | translate }}</a
    >

    <div>
      <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
        <mat-icon>language</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button
          [disabled]="lang === currentLanguage"
          *ngFor="let lang of languages"
          mat-menu-item
          (click)="changeLanguage(lang)"
        >
          {{ lang.toLocaleString().toLocaleUpperCase() }}
        </button>
      </mat-menu>
    </div>
  </nav>
</div>
