<div class="card-wrapper">
  <div class="wrapper-card-1">
    <div class="wrapper-card-2">
      <a class="list-container" [href]="teamUser.github" target="_blank">
        <mat-card>
          <img mat-card-image [src]="teamUser.photo" alt="" />
          <mat-card-header>
            <mat-card-title>{{ teamUser.name }}</mat-card-title>
            <mat-card-subtitle>{{ teamUser.role }}</mat-card-subtitle>
            <a mat-card-subtitle [href]="teamUser.github" target="_blank">{{
              teamUser.github
            }}</a>
          </mat-card-header>
        </mat-card>
      </a>
    </div>
  </div>
</div>
