.wrapper {
  width: 96% !important;
  padding: 0 2%;
}

.back-button {
  position: fixed;
  line-height: 0px;
  left: 10px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  z-index: 10;
  transition: all 0.3s;

  @media screen and (max-width: 580px) {
    width: 40px;
    height: 40px;
  }
}

::ng-deep .mat-button-wrapper {
  line-height: 0 !important;
}

.gallery-wrapper {
  margin: 30px 3%;

  @media screen and (max-width: 580px) {
    margin: 30px 2%;
  }
}

::ng-deep .prev {
  user-select: none !important;
}

::ng-deep .next {
  user-select: none !important;
}

.video-preview {
  box-sizing: border-box;
  position: relative;
  width: 90%;
  margin: 0 auto;
  min-width: 250px;
  text-align: center;
  cursor: pointer;

  .video-pic {
    max-width: 100%;
    height: auto;
  }

  .video-text {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
  }
}
