<div class="inner-page-wrapper">
  <button class="back-button" mat-fab color="primary" (click)="goBack()">
    &lt;
  </button>

  <app-photographer-card [author]="author"></app-photographer-card>

  <div class="gallery-wrapper">
    <ng-image-slider
      class="gallery"
      *ngIf="author?.galleryImages"
      [images]="imageObjects"
      [imageSize]="{ width: 300, height: 225, space: 3 }"
      [infinite]="true"
      [animationSpeed]="0.5"
      [manageImageRatio]="true"
    >
    </ng-image-slider>
  </div>

  <app-timeline [biography]="author?.biography"></app-timeline>
  <app-map [placeMarks]="author?.mapPlace"></app-map>
  <app-worklist [workList]="author?.workList"></app-worklist>

  <div class="video-preview" (click)="openDialog()">
    <img class="video-pic" [src]="getVideoPreview((author?.galleryVideo)[0])" />

    <p class="video-text">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="100"
        height="100"
        viewBox="0 0 24 24"
      >
        <path
          fill="#ffffff"
          d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 17v-10l9 5.146-9 4.854z"
        />
      </svg>
    </p>
  </div>
</div>
