:root {
  background-color: #ffffff;
}

.back-button {
  font-size: 2rem;
  z-index: 100;
}

.inner-page-wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 80%;
  margin: 2rem auto;
  padding: 1rem;
}
