<div class="inner-page-wrapper">
  <button class="back-button" mat-fab color="primary" (click)="goBack()">
    &lt;
  </button>

  <app-photographer-card [author]="author"></app-photographer-card>
  <ng-image-slider
    *ngIf="author?.galleryImages"
    [images]="imageObjects"
  ></ng-image-slider>

  <app-timeline [biography]="author?.biography"></app-timeline>
  <app-map [placeMarks]="author?.mapPlace"></app-map>
  <app-worklist [workList]="author?.workList"></app-worklist>
  <app-videoplayer [videoSrc]="(author?.galleryVideo)[0]"></app-videoplayer>
</div>
