.footer {
  height: 60px;
  width: 96%;
  padding: 0 2%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px -17px 84px -9px rgba(0, 0, 0, 0.21);
}

.frooter__text {
  font-family: 'Roboto';
  font-size: 16px;
  margin: 0;
}

.footer__links {
  display: flex;

  @media screen and (max-width: 580px) {
    display: none;
  }
}

.footer__img {
  width: 40px;
  height: 40px;
  margin: 0 4px;
  border-radius: 50%;
}
