<ul class="photographers-list">
  <li class="list-element" *ngFor="let card of cardArray">
    <div class="wrapper-card-1">
      <div class="wrapper-card-2">
        <div class="list-container">
          <mat-card>
            <img
              mat-card-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt=""
            />
            <mat-card-header>
              <mat-card-title>Имя Фамилия</mat-card-title>
              <mat-card-subtitle>дата</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <a mat-fab color="primary" routerLink="/photographers/card">→</a>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </li>
</ul>
