<mat-card class="author-info">
  <img
    mat-card-avatar
    class="avatar"
    [src]="author?.snippet.avatarImage"
    alt="photographers photo"
  />
  <mat-card-title>
    {{ author?.snippet.firstName }} {{ author?.snippet.middleName }}
    {{ author?.snippet.lastName }}
  </mat-card-title>
  <mat-card-subtitle>
    {{ author?.snippet.birthday }} – {{ author?.snippet.death || '...' }}
    {{ author?.snippet.birthplace }}
  </mat-card-subtitle>
  <mat-card-content class="caption">
    {{ author?.snippet.shortDescription }}
  </mat-card-content>
</mat-card>
