<h2>{{ worklogMembers.worklogHeadline }}</h2>
<app-worklog
  class="worklog"
  *ngFor="let item of teamMembers"
  [worklogMember]="item"
></app-worklog>

<h2>{{ worklogMembers.difficultiesHeadline }}</h2>
<div class="difficulties" *ngFor="let item of worklogMembers.difficulties">
  <p>{{ item }}</p>
</div>

<h2>{{ worklogMembers.evaluationHeadline }}</h2>
<div class="self-evaluation">
  <app-evaluation
    *ngFor="let item of worklogMembers.evaluation"
    [evaluation]="item"
  ></app-evaluation>

  <h2>{{ worklogMembers.evaluationScore }} {{ totalScore }}</h2>
</div>
