<h2>
  {{ 'interface.worklog-page.worklog.headline' | translate }}
</h2>
<app-worklog
  class="worklog"
  *ngFor="let item of teamMembers"
  [teamMember]="item"
></app-worklog>

<h2>{{ 'interface.worklog-page.difficulties.headline' | translate }}</h2>
<app-difficulties></app-difficulties>

<h2>{{ 'interface.worklog-page.evaluation.headline' | translate }}</h2>
<div class="self-evaluation">
  <app-evaluation
    *ngFor="let item of evaluations"
    [evaluation]="item"
  ></app-evaluation>

  <h2>
    {{ 'interface.worklog-page.evaluation.score' | translate }} {{ totalScore }}
  </h2>
</div>
