<div class="container">
  <h2 class="heading">{{ 'interface.author.map' | translate }}</h2>

  <div class="map-container">
    <angular-yandex-map
      *ngIf="placeMarks"
      [center]="calculateCenter()"
      [zoom]="4"
    >
      <angular-yandex-placemark
        *ngFor="let mark of placeMarks"
        [geometry]="[mark.latitude, mark.longitude]"
        [properties]="{ balloonContent: mark.title }"
        (mouse)="onMarkerHover($event)"
      >
      </angular-yandex-placemark>
    </angular-yandex-map>
  </div>
</div>
