.list-container {
  :hover {
    cursor: pointer;
    box-shadow: 0px 0px 50px 0px rgba(79, 79, 79, 0.7);
    transform: rotate(1.5deg);
    transition: all 0.5s;
  }
}

.list-element {
  width: 300px;
  margin: 20px 0px;

  :hover {
    box-shadow: none;
    transform: rotate(0deg);
  }
}

.list-element .mat-card-image {
  margin: 5px auto;
  width: 100%;
  height: auto;
}

.mat-card-header {
  margin: 10px 0;
  text-align: center;

  h2 {
    margin: 0;
    text-align: left;
  }
}

.list-element__city {
  font-weight: bold;
  font-size: 16px;
}

.mat-card .mat-card-actions {
  margin-bottom: 15px;
  margin-right: 10px;
  text-align: right;
}
