<mat-card class="list-element">
  <img mat-card-image [src]="cardItem.avatarImage" alt="" />
  <mat-card-header>
    <mat-card-title>
      <h2>{{ cardItem.firstName }}</h2>
      <h2>{{ cardItem.middleName }} {{ cardItem.lastName }}</h2>
    </mat-card-title>
    <mat-card-subtitle *ngIf="cardItem.death; else elseBlock">
      <label
        >{{ cardItem.birthday | date: 'longDate' }} -
        {{ cardItem.death | date: 'longDate' }}</label
      >
      <p class="list-element__city">{{ cardItem.placeOfBirth }}</p>
    </mat-card-subtitle>
    <ng-template #elseBlock>
      <label>Родился {{ itemDate }}</label>
      <p class="list-element__city">{{ cardItem.placeOfBirth }}</p>
    </ng-template>
  </mat-card-header>
  <mat-card-actions>
    <a mat-raised-button color="primary" routerLink="/photographers/card"
      >Подробнее</a
    >
  </mat-card-actions>
</mat-card>
