<div class="card-wrapper">
  <div class="wrapper-card-1">
    <div class="wrapper-card-2">
      <a class="list-container" [href]="" target="_blank">
        <mat-card>
          <img mat-card-image [src]="" alt="" />
          <mat-card-header>
            <mat-card-title>Имя(ник?)</mat-card-title>
            <mat-card-subtitle>Роль в проекте</mat-card-subtitle>
            <a mat-card-subtitle [href]="" target="_blank">Гитхаб аккаунт</a>
          </mat-card-header>
        </mat-card>
      </a>
    </div>
  </div>
</div>
