.card-wrapper {
  width: 300px;
  min-width: 300px;
  margin: 1rem auto;
  transition: all 0.5s;

  :hover {
    cursor: pointer;
    box-shadow: 0px 0px 50px 0px rgba(79, 79, 79, 0.7);
    transform: rotate(3deg);
    transition: all 0.5s;
  }
}

.list-container {
  text-decoration: none;

  :hover {
    box-shadow: none;
    transform: rotate(0deg);
  }
}
